@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './component/layout/styles/./variables';
@import './component/layout/styles/./global';
@import './component/layout/styles/./navbar';
@import './component/layout/styles/./content';
@import './component/layout/styles/./footer';
@import './component/layout/styles/./breakpoint';

/* error notice */

.error-notice {
    position: relative;
    border: 1px solid #e07c7c;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f8d6d6;
    height: 50px;
    #font-message {
        margin-bottom: 20px;
        width: auto;
        font-size: 18px;
    }
    button {
        margin-right: 20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #df4343;
        color: #ffffff;
    }
}